@font-face {
  font-family: PopLight;
  src: url("../fonts/Poppins-Light.ttf");
}
@font-face {
  font-family: PopRegular;
  src: url("../fonts/Poppins-Regular.ttf");
}

// VARIABLES
$font-primary: PopLight;
$font-secondary: PopRegular;
$dark-color: #1e2733;
$bright-color: #f5f5f5;
$primary-color: #4a90e2;
$n1-color: #cbcccb;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.main-h1 {
  text-transform: uppercase;
  font-size: 35px;
  &:after {
    content: "";
    display: block;
    margin-left: 10px;
    width: 50%;
    border-bottom: 3px solid $dark-color;
  }
}

@mixin btnStroke() {
  background: none;
  border: 1px solid $primary-color;
  font-size: 14px;
  font-family: $font-secondary;
  color: $primary-color;
}

@mixin btnFill() {
  background: $primary-color;
  border: none;
  font-size: 14px;
  font-family: $font-secondary;
  color: $bright-color;
}

@mixin btnStrokeHover() {
  &:hover {
    background: $primary-color;
    color: $bright-color;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  }
}

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
