@font-face {
  font-family: PopLight;
  src: url("../fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: PopRegular;
  src: url("../fonts/Poppins-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  cursor: pointer;
  outline: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.main-h1 {
  text-transform: uppercase;
  font-size: 35px;
}

.main-h1:after {
  content: "";
  display: block;
  margin-left: 10px;
  width: 50%;
  border-bottom: 3px solid #1e2733;
}

html {
  font-size: 16px;
}

body {
  color: #1e2733;
  background-color: #f5f5f5;
  font-family: PopLight;
  overflow-x: hidden;
}

.section-title {
  text-transform: uppercase;
  margin-bottom: 2em;
  font-size: 35px;
}

.section-title:after {
  content: "";
  display: block;
  margin-left: 10px;
  width: 50%;
  border-bottom: 3px solid #1e2733;
}

.container {
  width: 90%;
  height: 100%;
  margin: auto;
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  height: 20vh;
  width: 100%;
  position: absolute;
}

#header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  font-family: PopLight;
}

#header .navigation-list li {
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  height: 30px;
}

#header .navigation-list li:hover {
  border-bottom: 1px solid #4a90e2;
}

#header .navigation-list li:hover a {
  color: #4a90e2;
}

#header .navigation-list a {
  color: #f5f5f5;
  font-size: 0.9rem;
  margin: 0 1em;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

#header .btn-book {
  background: none;
  border: 1px solid #4a90e2;
  font-size: 14px;
  font-family: PopRegular;
  color: #4a90e2;
  padding: 0.8em 3em;
  border-radius: 4px;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
}

#header .btn-book:hover {
  background: #4a90e2;
  color: #f5f5f5;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

#profile {
  height: 100vh;
  background-image: linear-gradient(120deg, #494444, #1e2733);
  border-bottom: 4px solid #4a90e2;
}

#profile .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f5f5f5;
}

#profile .profile-title {
  margin-bottom: 0.8em;
  font-size: 2rem;
  font: PopLight;
  text-align: center;
}

#profile .profile-title span {
  color: #4a90e2;
}

#profile picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  max-width: 300px;
}

#profile .photo {
  width: 100%;
  position: relative;
  bottom: -10%;
  -webkit-filter: drop-shadow(10px 5px 50px #252525);
          filter: drop-shadow(10px 5px 50px #252525);
}

#skills {
  height: 80vh;
  margin: 10em 0;
}

#skills .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1e2733;
}

#skills .skills-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
}

#skills .skills-item {
  width: 31%;
  -webkit-box-shadow: 10px 40px 50px #d1d1d1;
          box-shadow: 10px 40px 50px #d1d1d1;
  border-radius: 20px;
  overflow: hidden;
}

#skills .skills-item-title {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 1.2rem;
  color: #f5f5f5;
  background-color: #4a90e2;
}

#skills .skills-item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1em 0.5em;
}

#skills .skills-item-list li {
  cursor: pointer;
  margin: 0.4em 0.4em;
  padding: 10px;
  font-size: 0.9rem;
  text-align: center;
  border: 1px solid #1e2733;
  border-radius: 30px;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

#skills .skills-item-list li:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

#projects {
  height: 110vh;
  margin: 10em 0;
}

#projects .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
}

#projects .projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80%;
}

#projects .project-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 46%;
  width: 100%;
  padding: 1em 3em;
  border-radius: 30px;
  -webkit-box-shadow: 10px 40px 50px #d8dce7;
          box-shadow: 10px 40px 50px #d8dce7;
  border: 2px solid #4a90e2;
}

#projects .project-item.fyyur {
  background-color: white;
}

#projects .project-item.rota {
  background-color: #2f333e;
  color: white;
}

#projects .project-item img {
  max-width: 200px;
}

#projects .project-item .project-text {
  width: 60%;
}

#projects .project-item .project-details {
  font-size: 0.8rem;
  margin: 1em 0;
}

#projects .project-item .show-btn {
  background: #4a90e2;
  border: none;
  font-size: 14px;
  font-family: PopRegular;
  color: #f5f5f5;
  padding: 0.1em 1.8em;
  border-radius: 15px;
  font-size: 0.8rem;
}

#contact {
  height: 40vh;
  margin-top: 50px;
  padding: 50px;
  color: #f5f5f5;
  background-color: #1e2733;
  border-top: 4px solid #4a90e2;
}

#contact .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
}

#contact ul button {
  background: none;
  border: none;
}

#contact ul button:hover {
  color: #4a90e2;
}

#contact ul svg {
  width: 30px;
  height: auto;
  fill: #f5f5f5;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

#contact ul svg:hover {
  fill: #4a90e2;
}

@media (max-width: 768px) {
  #header {
    height: 25vh;
  }
  #header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  #header .header-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50%;
    width: 100%;
    background-color: rgba(30, 39, 51, 0.5);
  }
  #profile {
    height: 95vh;
  }
  #profile .profile-title {
    font-size: 1.5rem;
    margin-bottom: 1.5em;
  }
  #profile .photo {
    width: 80%;
  }
  #skills {
    height: 220vh;
  }
  #skills .skills-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  #skills .skills-list .skills-item {
    width: 90%;
  }
  #projects {
    height: 210vh;
  }
  #projects .container {
    width: 90%;
  }
  #projects .project-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 48%;
    padding: 1em 3em;
  }
  #projects .project-item .project-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: 15px;
  }
  #projects .project-item .project-text .project-details {
    text-align: center;
  }
}
/*# sourceMappingURL=styles.css.map */