/* * {
  border: 1px solid yellow;
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* VARIABLES */
:root {
  --n1-font: "Roboto Mono", monospace;
  --n1-color: #242424;
  --n2-color: #f5f5f5;
  --n3-color: #4a90e2;
}

/* ################################################################## */
/* GLOBAL */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--n2-color);
  color: var(-n1-color);
  align-items: center;
}

button {
  cursor: pointer;
}
button:focus {
  outline: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
/* ################################################################## */
/* SCROLL */

/* ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border: none;
}
::-webkit-scrollbar-thumb {
  background: #4a90e2;
} */

/* ################################################################## */

/* ################################################################## */

/* HEADER */
#header {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#header nav {
  width: 30%;
}

#header ul {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-evenly;
  font-family: var(--n1-font);
}

#header a {
  padding: 5px;
  color: var(--n1-color);
  transition: all ease 0.2s;
}

#header a:hover {
  color: var(--n3-color);
}

#header img {
  width: 15%;
  min-width: 150px;
}
#header .btn-book {
  width: 30%;
}

#header button {
  height: 40px;
  width: 60%;
  margin: auto;
  display: block;
  background: none;
  color: var(--n3-color);

  border: 1px solid var(--n3-color);
  font-size: 13px;
  border-radius: 4px;
  transition: background 0.4s;
  overflow: hidden;
}

#header button:hover {
  background: var(--n3-color);
  color: var(--n2-color);
  cursor: pointer;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

/* ################################################################## */
/* PROFILE */

#profile {
  height: 500px;
  width: 80%;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "about developer";

  color: var(--n1-color);
  font-family: "Roboto Mono", monospace;
}

#profile .about {
  padding: 30px;
  grid-area: about;
  align-self: center;
}

#profile p {
  margin: 40px 0;
  font-size: 18px;
}

#profile button {
  display: block;
  margin: auto;
  width: 40%;
  height: 30px;
  background: none;
  color: var(--n3-color);

  border: 1px solid var(--n3-color);
  font-size: 14px;
  border-radius: 15px;
  transition: background 0.4s;
}

#profile button:hover {
  background: var(--n3-color);
  color: var(--n2-color);
  cursor: pointer;
}

#profile img {
  grid-area: developer;
  align-self: center;
  justify-self: center;
  width: 70%;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}
/* ################################################################## */

/* ################################################################## */
/* SKILLS */

#skills {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  width: 100%;
  background: var(--n1-color);
  color: var(--n2-color);
}

#skills h1 {
  margin: 30px;
  text-align: center;
  font-size: 30px;
}

#skills ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#skills li {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  background-color: var(--n2-color);
  color: var(--n1-color);
  border-radius: 40px;
  padding: 12px;
  margin: 10px 4px;
  cursor: pointer;
  transition: transform 0.4s;
}

#skills li:hover {
  transform: translateY(-15px);
}
/* ################################################################## */

/* ################################################################## */

/* PROJECTS */
#projects {
  margin: 100px 0;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#projects p {
  text-align: center;
}

.project-1 {
  height: 200px;

  display: grid;
  grid-template-columns: repeat(2, 40%);
  grid-template-areas: "p1-text p1-ui";
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;

  border-radius: 30px;

  color: var(--n2-color);
  background-color: var(--n1-color);
  font-family: var(--n1-font);
}

.project-1 div {
  height: 300px;
  grid-area: p1-text;
}
#projects h1 {
  color: var(--n1-color);
}

.project-1 h1 {
  position: relative;
  top: -5px;
  margin-bottom: 50px;
}

#projects .project-1 img {
  grid-area: p1-ui;
}

#projects button {
  display: block;
  color: var(--n2-color);
  border: none;
  background-color: var(--n3-color);
  border-radius: 15px;
  margin: 30px auto;
  width: 200px;
  height: 30px;
  transition: 0.4s;
}

#projects button:hover {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  transform: scale(0.98);
}

#projects img {
  width: 70%;
}

.project-2 {
  height: 200px;

  display: grid;
  grid-template-columns: repeat(2, 40%);
  grid-template-areas: "p2-text p2-ui";
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;

  border-radius: 30px;

  color: var(--n2-color);
  background-color: var(--n1-color);
  font-family: var(--n1-font);
  position: relative;
}

.project-2 h1 {
  position: relative;
  top: -40px;
  margin-bottom: 20px;
}

.project-2 div {
  height: 300px;
  grid-area: p2-text;
}

.project-2 img {
  grid-area: p2-ui;
}

/* ################################################################## */

/* CONTACT */
.contact {
  grid-area: contact;
  width: 100%;
  height: 100%;
  background: var(--n1-color);
  color: var(--n2-color);
}
.contact h1 {
  display: block;
  color: var(--n2-color);
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
}
.contact ul {
  display: flex;
  width: 20%;
  margin: auto;
  justify-content: space-around;
}
.contact button {
  background: none;
  border: none;
  margin: 30px;
}

svg {
  fill: var(--n2-color);
  width: 70px;
  height: auto;
}

@media (max-width: 500px) {
  #header {
    flex-direction: column;
    height: 300px;
  }
  #header img {
    order: 0;
    width: 50%;
    height: auto;
  }
  #header nav {
    order: 2;
    width: 100%;
    padding: 20px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.05);
  }
  #header .btn-book {
    order: 3;
    width: 60%;
    margin: 10px;
  }
  #header button {
    width: 100%;
    margin: none;
  }

  /* PROFILE */
  #profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: fit-content;
  }

  #profile img {
    width: 50%;
  }

  #profile h1 {
    font-size: 30px;
    text-align: center;
    align-self: center;
  }

  #profile p {
    text-align: center;
  }

  /* SKILLS */
  #skills {
    height: fit-content;
    padding: 20px;
  }

  /* PROJECTS */
  #projects {
    width: 100%;
    height: 700px;
  }

  .project-1 div,
  .project-2 div {
    width: 100%;
  }

  #projects h1 {
    width: 100vw;
    margin: auto;
    align-self: center;
    font-size: 23px;
    white-space: nowrap;
    overflow: hidden;
    top: -20px;
    margin-bottom: 60px;
  }

  #projects div p {
    font-size: 13px;
  }

  #projects img {
    width: 90%;
  }

  #projects button {
    width: 100px;
    margin-top: 20px;
  }

  #projects .project-2 div h1 {
    position: relative;
    top: -40px;
    margin-bottom: 20px;
  }

  /* CONTACT */
  .contact h1 {
    font-size: 20px;
    margin-top: 20px;
  }
  .contact svg {
    width: 50px;
  }
}
